// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .lib-font-face(
        @family-name: 'urwdin-bold',
        @font-path: '@{baseDir}fonts/urwdin/bold/URWDIN-Bold',
        @font-weight: 800,
        @font-style: bold
    );

    .lib-font-face(
        @family-name: 'urwdin-regular',
        @font-path: '@{baseDir}fonts/urwdin/bold/URWDIN-Regular',
        @font-weight: normal,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: 'rift-soft',
        @font-path: '@{baseDir}fonts/rift-sorf/RiftSoft-Bold',
        @font-weight: normal,
        @font-style: normal
    );


    @import url("https://p.typekit.net/p.css?s=1&k=hfn3ysq&ht=tk&f=28975.28976.28980.28981.28984.28985.28989.28990.36597.36601.36602.36604.36606.36608.36610&a=24549421&app=typekit&e=css");

    @font-face {
        font-family:"rift-soft";
        src:url("https://use.typekit.net/af/308169/00000000000000003b9adf18/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/308169/00000000000000003b9adf18/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/308169/00000000000000003b9adf18/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
        font-display:auto;font-style:italic;font-weight:400;
    }

    @font-face {
        font-family:"rift-soft";
        src:url("https://use.typekit.net/af/f49484/00000000000000003b9adf19/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f49484/00000000000000003b9adf19/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f49484/00000000000000003b9adf19/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:400;
    }

    @font-face {
        font-family:"rift-soft";
        src:url("https://use.typekit.net/af/b0a7b5/00000000000000003b9adf1d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/b0a7b5/00000000000000003b9adf1d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/b0a7b5/00000000000000003b9adf1d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:500;
    }

    @font-face {
        font-family:"rift-soft";
        src:url("https://use.typekit.net/af/41882d/00000000000000003b9adf1e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/41882d/00000000000000003b9adf1e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/41882d/00000000000000003b9adf1e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
        font-display:auto;font-style:italic;font-weight:500;
    }

    @font-face {
        font-family:"rift-soft";
        src:url("https://use.typekit.net/af/538896/00000000000000003b9adf21/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/538896/00000000000000003b9adf21/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/538896/00000000000000003b9adf21/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
        font-display:auto;font-style:italic;font-weight:600;
    }

    @font-face {
        font-family:"rift-soft";
        src:url("https://use.typekit.net/af/3f05ad/00000000000000003b9adf22/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/3f05ad/00000000000000003b9adf22/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/3f05ad/00000000000000003b9adf22/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:600;
    }

    @font-face {
        font-family:"rift-soft";
        src:url("https://use.typekit.net/af/a346fd/00000000000000003b9adf26/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a346fd/00000000000000003b9adf26/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a346fd/00000000000000003b9adf26/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:700;
    }

    @font-face {
        font-family:"rift-soft";
        src:url("https://use.typekit.net/af/1d30bb/00000000000000003b9adf27/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/1d30bb/00000000000000003b9adf27/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/1d30bb/00000000000000003b9adf27/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
        font-display:auto;font-style:italic;font-weight:700;
    }

    @font-face {
        font-family:"urw-din";
        src:url("https://use.typekit.net/af/048f0f/00000000000000003b9b0edf/27/l?subset_id=2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/048f0f/00000000000000003b9b0edf/27/d?subset_id=2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/048f0f/00000000000000003b9b0edf/27/a?subset_id=2&fvd=n2&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:200;
    }

    @font-face {
        font-family:"urw-din";
        src:url("https://use.typekit.net/af/570b14/00000000000000003b9b0ee3/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/570b14/00000000000000003b9b0ee3/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/570b14/00000000000000003b9b0ee3/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
        font-display:auto;font-style:italic;font-weight:400;
    }

    @font-face {
        font-family:"urw-din";
        src:url("https://use.typekit.net/af/3bd84d/00000000000000003b9b0ee4/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3bd84d/00000000000000003b9b0ee4/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3bd84d/00000000000000003b9b0ee4/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:400;
    }

    @font-face {
        font-family:"urw-din";
        src:url("https://use.typekit.net/af/e69b71/00000000000000003b9b0ee6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/e69b71/00000000000000003b9b0ee6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/e69b71/00000000000000003b9b0ee6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:500;
    }

    @font-face {
        font-family:"urw-din";
        src:url("https://use.typekit.net/af/084e58/00000000000000003b9b0ee8/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/084e58/00000000000000003b9b0ee8/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/084e58/00000000000000003b9b0ee8/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:600;
    }

    @font-face {
        font-family:"urw-din";
        src:url("https://use.typekit.net/af/359d41/00000000000000003b9b0eea/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/359d41/00000000000000003b9b0eea/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/359d41/00000000000000003b9b0eea/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:700;
    }

    @font-face {
        font-family:"urw-din";
        src:url("https://use.typekit.net/af/cbadfd/00000000000000003b9b0eec/27/l?subset_id=2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/cbadfd/00000000000000003b9b0eec/27/d?subset_id=2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/cbadfd/00000000000000003b9b0eec/27/a?subset_id=2&fvd=n9&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:900;
    }

    .tk-rift-soft { font-family: "rift-soft",sans-serif; }
    .tk-urw-din { font-family: "urw-din",sans-serif; }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    h1 {
        .lib-css(font-size, @h1__font-size-desktop);
        .lib-css(margin-bottom, @h1__margin-bottom__desktop);
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .items {
        .lib-list-reset-styles();
    }
}
